[submodule ".dotbot"]
	path = .dotbot
    url = https://github.com/anishathalye/dotbot
[submodule "modules/powerlevel9k"]
	path = modules/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k
[submodule "modules/oh-my-zsh"]
	path = modules/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
